In [1]:
import pandas as pd

print(pd.__version__)

1.3.4

In [2]:
df = pd.util.testing.makeMissingDataframe().reset_index()
df.head()

C:\Users\Owen Willianto\anaconda3\lib\site-packages\pandas\util\__init__.py:15: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

        index         A         B         C         D
0  JRYPhzk9sG -0.095479 -2.171022       NaN -0.296413
1  IalEaTLFC1 -2.136979 -1.398298 -1.075014  0.826280
2  MOw4wTkZVa -0.950973  1.462100 -1.662702 -0.576952
3  7R2pA815sd  0.989816 -0.384373  0.027917       NaN
4  kKplLU4koF -0.733578  0.614246       NaN -1.586415

In [3]:
df = df.rename(columns={'index':'z'})
df.head()

            z         A         B         C         D
0  JRYPhzk9sG -0.095479 -2.171022       NaN -0.296413
1  IalEaTLFC1 -2.136979 -1.398298 -1.075014  0.826280
2  MOw4wTkZVa -0.950973  1.462100 -1.662702 -0.576952
3  7R2pA815sd  0.989816 -0.384373  0.027917       NaN
4  kKplLU4koF -0.733578  0.614246       NaN -1.586415

In [4]:
df_backup = df.copy(deep=True)

In [6]:
df = df.dropna(axis='columns')
df.head()

            z
0  JRYPhzk9sG
1  IalEaTLFC1
2  MOw4wTkZVa
3  7R2pA815sd
4  kKplLU4koF

In [7]:
df = df_backup.copy(deep=True)
df = df.dropna(axis='rows')
df.head()

            z         A         B         C         D
1  IalEaTLFC1 -2.136979 -1.398298 -1.075014  0.826280
2  MOw4wTkZVa -0.950973  1.462100 -1.662702 -0.576952
5  zEm338YBS0 -0.996102  1.662415 -0.670828  1.421489
6  GFO4fSUpa3 -1.960147 -0.046020  0.726397 -0.615248
9  JBO1AHhxIi  0.331200 -0.284031  0.259454  0.043459

In [8]:
df = df_backup.copy(deep=True)
df.isna().mean()

z    0.000000
A    0.100000
B    0.100000
C    0.133333
D    0.066667
dtype: float64

In [10]:
treshold =len(df)*0.9
df = df.dropna(thresh=treshold,axis='columns')
df.head()

            z         A         B         D
0  JRYPhzk9sG -0.095479 -2.171022 -0.296413
1  IalEaTLFC1 -2.136979 -1.398298  0.826280
2  MOw4wTkZVa -0.950973  1.462100 -0.576952
3  7R2pA815sd  0.989816 -0.384373       NaN
4  kKplLU4koF -0.733578  0.614246 -1.586415